/* *{
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
} */

body{
  background-color: whitesmoke;
  padding: 1rem;
}



.corpo_container_header_figma{
  width:100%;
  display:flex;
  padding:0.5rem 0rem 0rem 0;
}

.corpo_header_titulo_design {
  background:white;
  border-radius: 8px;
  display: flex;
  align-items:center;
  width:80%;
  max-height:3rem;
}

.btn_lupa_header_figma{
  background:transparent;
  border:none;
  cursor: pointer;
}

.corpo_imgfundo_header_figma {
  width: 60%;
    -webkit-mask-image: linear-gradient(to right, transparent 10%, #1855ae 100% , #1855ae 80%);
    background-size: cover;
    max-height: 3rem;
    background-position: center;
    background-image: url('../../../assets/img/negocios.png');
    background-repeat: no-repeat;
    background-color: #2358a4;
    opacity: 1;
    border-radius: 8px;

    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding-right:2rem;
}

.p_gerenciar_chamados{
  width:45%;
  margin:0.5rem 0.5rem;
}

.container_pesquisa_header_figma{
  width:5%;
  display:flex;
}

.formulario_header_figma {
  width: 94%;
  background-color: transparent;
  padding: 0.25rem 0.4rem;
  border: none;
}

.corpo_pesquisa_header_figma {
  background-color: white;
  width: 100%;
  margin-left: 1rem;
  border-radius: 8px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.corpo_container_graficos_figma{
  width:100%;
  display:flex;

}


.corpo_container_grafic_card_figma {
  margin-top: 1rem;
  padding: 1rem  1rem 0rem 1rem;
  width: 25%;
  border-radius: 8px;
  background-color: white;
}

.corpo_container_data_ {
  width: 100%;
  position: absolute;
  top: -4%;
  right:0px;
}

.corpo_container_grafic_card_figma_2_ {
  width: 100%;
  border-radius: 8px;
  background-color: white;
}

.titulo_grafic_somafrete{
  text-align: center;
}
.titulo_grafic_somafrete label{
  font-size: 0.775rem;
}

.corpo_container_grafic_card_figma_2 {
  margin-top: 1rem;
  width: 25%;
  /*background-color: white;*/
  margin-left: 1rem;

}

.corpo_container_data_ p {
  height: 1rem;
  background: gray;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
  border-radius: 8px;
  width: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  margin-bottom: 0.8rem;
  border: 0.1rem solid #DCDCE0;
}

.container_mychart_figma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.corpo_legend_graficone{
  width:35%;
}

.corpo_color_legendgraficone{
  margin:0.1rem 0;
  width:40%;
  padding:0.15rem;
}

/*////DESIGN FORA DO LCS///////////*/

.container_header_charts{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 42vh;
  margin: 1rem 0rem;

  gap: 1rem;
}

.container_chart{
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  height: 100%;

  width: 22%;
  margin: 0rem 0rem;
}

.container_chart1{
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  height: 100%;

  width: 27%;
  margin: 0rem 0rem;
}

.container_chart_{
  border-radius: 8px;
  height: 100%;

  width: 25%;
  margin: 0rem 0rem;
}

.container_grafic_tipoOperacao{
  display: flex;
  width: 100%;
}

.myChart_figma {
  width: 65%;
  padding: 0%;
}

.corpo_container_grafic_card_figma_2_ {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  height: 49%;
  /* background-color: white; */
}

.classificacao_grafic_tipoOperacao{
  width: 50%;
}

.classificacao_grafic_tipoOperacao p{
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 4px;
  padding: 0.2rem;
  margin-bottom: 0.4rem;
  font-size: 0.775rem;
}



.myChart_figma_linha{
  width: 65%;
  /* overflow: visible; */
  /* position: absolute; */
}

.myChart_figma_fretes{
  width: 100%;
}

.periodo{
  width: 15%;
  border-radius: 8px;
  background-color: white;
  margin-left: 1rem;
  padding: 0rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.periodo p{
  font-weight: 600;
  font-size: 0.8rem;
}

.container_filtros{
  position: fixed;
  /* right: -1000px; */
  top: 0px;
  right: -20%;
  height: 100vh;
  width: 20%;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;

  transition: 0.5s all;
}

.container_filtros button{
  margin: 1rem;
  border-radius: 50%;
  padding: 0.5rem 0.6rem;
  background-color: white;
  border: 0.1rem solid gray;
  cursor: pointer;
}

.container_filtros button:hover{
  opacity: 0.75;
}

.container_relatorios_paginados, .container_mapas{
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  gap: 1rem;
  background: white;
  margin: 1rem 0rem;
}

.relatorio_paginado, .container_mapa{
  width: 50%;
  padding: 0rem;
  text-align: center;

  border-radius: 6px;
  /* height: 10rem; */
}

.container_mapa{
  height: 20rem;
}
.container_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container_th_linha_table{
  background-color: white;
  /* padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--gray-text); */
}

.border_table{
  width: 95%;
  margin: 0.5rem;
  color:  #EBEBEB;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #515251;
}



.my-pagination ::ng-deep .ngx-pagination{
 padding: 1rem 0rem 0rem 0rem;
 display: flex;
 align-items: flex-end;
 justify-content: flex-end;
 font-size: 0.6rem;
}

.my-pagination2 ::ng-deep .ngx-pagination .current {
  background: #515251;
}

.my-pagination2 ::ng-deep .ngx-pagination{
  padding: 1rem 0rem 0rem 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 0.6rem;
 }

.content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.th_linha_table {
  font-size: 0.7rem;
  text-align: center;
  color: var(--gray-text);
  font-weight: 600;
  /* width: 20%; */
  padding: 0rem 1rem;

}

.table{
  padding: 0rem;
  /* background-color: blue; */
  margin: 0 auto;
}

.tbody{
  margin-top: 1rem;
}

.td_linha_table{
  font-size: 0.7rem;
  text-align: center;
  padding-top: 0.4rem;
  /* border-bottom:1px solid black; */
  /* width: 20%; */
}

.container_btn_exportar{

  width: 70%;
  display: flex;
  padding-left: 1rem;
  align-items: center!important;
  justify-content: left!important;
}

/* .btn_exportar_excel{
  padding: 0.2rem 0.8rem;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--gray-4);
  cursor: pointer;
} */

.corpo-btn-exportar {
  border: 0.1rem solid #DCDCE0;
  padding: 0.25rem 0.7rem;
  border-radius: 6px;
  background: transparent;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.675rem;
}

  .corpo-btn-exportar:hover {
      border: 0.1rem solid gray;
      background: rgba(220,220,220, 0.2);
      cursor: pointer;
  }

  .corpo-btn-exportar:focus {
      outline: none;
  }

  .corpo-btn-exportar img {
      width: 1rem;
  }

.pagination{
  padding-top: 1rem;
  font-size: 0.7rem;
}

#myChart{
  width: 200px;
}


.container_dropdowns{
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background: whitesmoke;
  border-radius:3px;
  margin-top: 0.4rem;
}

.container_grafic_top_5{
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

.dropdown{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  width: 100%;
}

.h5{
  margin-top: 1rem;
  text-align: center;
}

.dropdown select{
  padding: 4px;
  width: 100%;
}

.container_grafic_linha1{
  display: flex;
}

.desc-chart1{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.porcentagem_grafic{
  gap: 0.3rem;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:12px;
  font-size: 0.675rem;
  padding:0.1rem 0.65rem;
}

.btn_fechar_modal{
  padding: 0.4rem 0.45rem 0.2rem 0.4rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.btn_fechar_modal:hover{
  opacity: 0.8;
  background-color: rgb(240,240,240);
}

.select_padrao{
  border: 1px solid #E3E4E8;
  border-radius: 8px;
}

.select_padrao option{
  border-radius: 8px;
}

.header_modal{
  display: flex;

}
.container_btn{
  width: 40%;
}
.header_modal h5{
  width: 60%;
  text-align: left;
}

.dropdown label{
  font-size: 0.7rem;
  font-weight: 600;
}
