




<body>


<div class="corpo_container_header_figma">
  <div class="corpo_header_titulo_design">

      <h4 class="font-tamanho-tt p_gerenciar_chamados">Torre de fretes</h4>
      <div class="corpo_imgfundo_header_figma">
          <img src="../../../assets/img/logo.svg" alt="Logo" width="110px" height="35px"/>
      </div>
  </div>
  <div class="periodo">
      <p style="color:rgb(150, 150 ,150)">25/10/2022 à 30/10/2022</p>
  </div>
  <div class="container_pesquisa_header_figma">
      <div class="corpo_pesquisa_header_figma" style="width: 100%;">
          <button type="submit" (click)="modal.toggle()" class="btn_lupa_header_figma" id="filtro" name="filtro" value="0">
              <img src="../../../assets/img/search.svg" width="20px" />
          </button>
      </div>
  </div>
</div>

<!-- <canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'">
</canvas> -->

<div class="container_header_charts">
  <div class="container_chart1">
      <div style="width: 100%; text-align:center; font-size: 0.775rem; margin-bottom: 1rem;">
          <h4 style="color:rgb(150, 150 ,150)">Tipo Operação</h4>
      </div>

      <div class="container_grafic_tipoOperacao">
          <div class="classificacao_grafic_tipoOperacao">
              <p style="background-color: #0A2C5B;">Remessa</p>
              <p style="background-color: #126CFB;">Reversa</p>
              <p style="background-color: #5CC4FF;">Transferência</p>
          </div>
          <div class="myChart_figma">
            <canvas #meuCanvasOne id="myChart"></canvas>
          </div>

      </div>
  </div>

  <div class="container_chart_">
      <div class="corpo_container_grafic_card_figma_2_" style="margin-bottom: 0.7rem;">
          <div style="width: 100%;">
              <div class="titulo_grafic_somafrete" style="font-size: 0.775rem;">
                  <h4 style="color:rgb(150, 150 ,150)">Acumulado R$ Frete</h4>
              </div>
              <div class="container_grafic_linha1">
                <div class="desc-chart1">
                  <h4>R$ 34 567</h4>
                  <div class="porcentagem_grafic" style="background-color: var(--danger); color:white">
                    <img src="../../../assets/img/seta_baixo_figma.svg" alt=""><b> -4%</b></div>
                </div>
                <div class="myChart_figma_linha" style="margin-top: 1rem;">
                    <canvas #myChartLinha id="myChartLinha" height="90px"></canvas>
                </div>
              </div>
          </div>


      </div>

      <div class="corpo_container_grafic_card_figma_2_"  style="margin-top: 0.4rem;">
          <div>

              <div class="titulo_grafic_somafrete" style="font-size: 0.775rem;">
                  <h4 style="color:rgb(150, 150 ,150)">Acumulado % Custo de Frete</h4>
              </div>
              <div class="container_grafic_linha1">
                <div class="desc-chart1">
                  <h4>34%</h4>
                  <div class="porcentagem_grafic" style="background-color: #0c6bff; color:white">
                    <img src="../../../assets/img/seta_cima_figma.svg" alt=""> <b> 4%</b></div>
                </div>
                <div class="myChart_figma_linha" style="margin-top: 1rem; ">
                  <canvas #myChartLinha2 id="myChartLinha2" height="115px" style="z-index: 1000;"></canvas>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container_chart">
      <div style="width: 100%; text-align:center; font-size: 0.775rem;">
          <h4 style="color:rgb(150, 150 ,150)">Custo de Frete</h4>
      </div>

      <div class="container_grafic_tipoOperacao" style="height: 100%">
          <div class="myChart_figma_fretes" style="height: 100%;">
              <canvas #myChartColunas id="myChartColunas" height="265px"></canvas>
          </div>
      </div>
  </div>

  <div class="container_chart">
      <div class="container_grafic_tipoOperacao">
          <div style="width: 100%;">
              <canvas #myChartPizza id="myChartPizza"></canvas>
          </div>
      </div>
  </div>
</div>

<div class="container_filtros">
  <button class="btn_fechar">
      <!-- <img src="../../../assets/img/fechar.png" alt=""> -->
  </button>
</div>

<div class="container_grafic_top_5">
  <div class="container_white_grafic_top_5">
      <div class="container_grafic_tipoOperacao">
          <div style="width: 95%;">
              <canvas #myChartColum2 id="myChartColum2" height="50px"></canvas>
          </div>
      </div>
  </div>
</div>

<div class="container_grafic_top_5">
  <div class="container_white_grafic_top_5">
      <div class="container_grafic_tipoOperacao">
          <div style="width: 95%;">
            <!-- <div #mapa id="mapa" style="height: 600px; width: 600px"></div> -->
          </div>
      </div>
  </div>
</div>

<div class="container_relatorios_paginados">
  <div class="relatorio_paginado">

    <table class="table">
      <thead class="container_th_linha_table">
        <tr>
          <th class="th_linha_table">Rótulos de Linha</th>
          <th class="th_linha_table">Qtde</th>
          <th class="th_linha_table">Soma de Mercadoria</th>
          <th class="th_linha_table">Soma de Frete</th>
          <th class="th_linha_table">Soma de % Frete/NF</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let post1 of POSTS
              | paginate
                : {
                    id:'post1',
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
         >
          <th class="td_linha_table">{{ post1.id }}</th>
          <td class="td_linha_table">{{ post1.id }}</td>
          <td class="td_linha_table">{{ post1.id }}</td>
          <td class="td_linha_table">{{ post1.id }}</td>
          <td class="td_linha_table">{{ post1.id }}</td>
        </tr>

      </tbody>
    </table>




    <div class="d-flex justify-content-center " style="display: flex;">
      <div class="container_btn_exportar">
        <button (click)="exportexcel()" class="corpo-btn-exportar">
          <img src="../../../assets/img/icon-download.svg" />Exportar</button>
      </div> <!--pagination-->
      <pagination-controls
        previousLabel=""
        nextLabel=""
        [maxSize]="5"
        id="post1"
        (pageChange)="onTableDataChange($event)"
        class="my-pagination"
      >
      </pagination-controls>
    </div>
  </div>

  <!---DIV OCULTA PARA EXPORTAÇÃO-->

  <table class="table" id="excel-table" style="display: none;">
    <thead class="container_th_linha_table">
      <tr>
        <th class="th_linha_table">Rótulos de Linha</th>
        <th class="th_linha_table">Qtde</th>
        <th class="th_linha_table">Soma de Mercadoria</th>
        <th class="th_linha_table">Soma de Frete</th>
        <th class="th_linha_table">Soma de % Frete/NF</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let post of POSTS_ocult
            | paginate
              : {
                  id:'post_ocult',
                  itemsPerPage: tableSize_ocult,
                  currentPage: page_ocult,
                  totalItems: count_ocult
                };
          let i = index
        "
       >
        <th class="td_linha_table">{{ post.id }}</th>
        <td class="td_linha_table">{{ post.id }}</td>
        <td class="td_linha_table">{{ post.id }}</td>
        <td class="td_linha_table">{{ post.id }}</td>
        <td class="td_linha_table">{{ post.id }}</td>
      </tr>

    </tbody>
  </table>

  <div class="relatorio_paginado">


    <table class="table">
      <thead class="container_th_linha_table">
        <tr>
          <th class="th_linha_table">Rótulos de Linha</th>
          <th class="th_linha_table">Qtde</th>
          <th class="th_linha_table">Soma de Mercadoria</th>
          <th class="th_linha_table">Soma de Frete</th>
          <th class="th_linha_table">Soma de % Frete/NF</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let post of POSTS2
              | paginate
                : {
                    id:'post2',
                    itemsPerPage: tableSize2,
                    currentPage: page2,
                    totalItems: count2
                  };
            let i = index
          "
         >
          <th class="td_linha_table" scope="row">{{ post.id }}</th>
          <td class="td_linha_table">{{ post.id }}</td>
          <td class="td_linha_table">{{ post.id }}</td>
          <td class="td_linha_table">{{ post.id }}</td>
          <td class="td_linha_table">{{ post.id }}</td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center" style="display: flex;">
      <div class="container_btn_exportar">
        <button (click)="exportexcel2()" class="corpo-btn-exportar">
          <img src="../../../assets/img/icon-download.svg" />Exportar</button>
      </div>
      <pagination-controls
        previousLabel=""
        nextLabel=""
        [maxSize]="5"
        id="post2"
        (pageChange)="onTableDataChange2($event)"
        class="my-pagination"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<!--RELATORIO OCULTO PARA EXPORTAÇÃO 2-->

<table class="table" id="excel-table-2" style="display: none;">
  <thead class="container_th_linha_table">
    <tr>
      <th class="th_linha_table">Rótulos de Linha</th>
      <th class="th_linha_table">Qtde</th>
      <th class="th_linha_table">Soma de Mercadoria</th>
      <th class="th_linha_table">Soma de Frete</th>
      <th class="th_linha_table">Soma de % Frete/NF</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let post of POSTS_ocult2
          | paginate
            : {
                itemsPerPage: tableSize_ocult2,
                currentPage: page_ocult2,
                totalItems: count_ocult2
              };
        let i = index
      "
     >
      <th class="td_linha_table" scope="row">{{ post.id }}</th>
      <td class="td_linha_table">{{ post.id }}</td>
      <td class="td_linha_table">{{ post.id }}</td>
      <td class="td_linha_table">{{ post.id }}</td>
      <td class="td_linha_table">{{ post.id }}</td>
    </tr>
  </tbody>
</table>

<app-modal-filtro #modal>

  <div class="header_modal">
    <div class="container_btn">
      <button
        (click)="modal.toggle();"
        class="btn_fechar_modal">
        <img src="../../../assets/img/fechar.png" />
      </button>
    </div>


    <h5 class="h5">Filtro</h5>
  </div>

  <div class="container_dropdowns">
    <div class="dropdown">
      <label for="">Tipo CTE</label>
      <select name="embarcador" class="select_padrao">

        <option value="AL">Tipo 1</option>
        <option value="WY">Tipo 2</option>
      </select>

      <label for="">Tipo Operação</label>
      <select name="embarcador" class="select_padrao">

        <option value="AL">Tipo 1</option>
        <option value="WY">Tipo 2</option>
      </select>
    </div>
  </div>


</app-modal-filtro>

</body>
